<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/a84aca7bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">
    <header class="home-header">
        <div class="home-header-padre-img">
            <img src="/img/logo.jpg" alt="logo-kitchening">
        </div>
        <a class="home-header-a" href=""><i class="fas fa-bars"></i></a>
        <nav class="home-header-nav-menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home-main">
        <div class="home-main-section-banner">
            <img src="/img/img-banner.jpg" alt="banner">
        </div>
        <div class="home-main-section-products">
            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-img-product" src="/img/img-pdto-1.jpg" alt="imagen-producto-1">
                    <img class="home-main-img-sticker" src="/img/img-nuevo.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home-main-section-product-button" href="">ver más</a>
            </article>
            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-img-product" src="/img/img-pdto-2.jpg" alt="imagen-producto-1">
                    <img class="home-main-img-sticker" src="/img/img-gratis.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home-main-section-product-button" href="">ver más</a>
            </article>
            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-img-product" src="/img/img-pdto-3.jpg" alt="imagen-producto-1">
                    <img class="home-main-img-sticker" src="/img/img-descuento.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home-main-section-product-button" href="">ver más</a>
            </article>
            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-img-product" src="/img/img-pdto-1.jpg" alt="imagen-producto-1">
                    <img class="home-main-img-sticker" src="/img/img-nuevo.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home-main-section-product-button" href="">ver más</a>
            </article>
            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-img-product" src="/img/img-pdto-2.jpg" alt="imagen-producto-1">
                    <img class="home-main-img-sticker" src="/img/img-gratis.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home-main-section-product-button" href="">ver más</a>
            </article>
            <article class="home-main-section-product">
                <div class="home-main-section-product-box">
                    <img class="home-main-img-product" src="/img/img-pdto-3.jpg" alt="imagen-producto-1">
                    <img class="home-main-img-sticker" src="/img/img-descuento.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home-main-section-product-title">Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home-main-section-product-button" href="">ver más</a>
            </article>
        </div>
    </main>
    <footer class="home-footer">
        <nav class="home-footer-nav-menu">
            <ul class="">
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>

<main>

</main>

<footer>

</footer>

</body>
</html>