:root{
    --colorRojo: #b81e14;
    --colorGris: #92908b;
}
/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/img/bg-body.png');
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}