/* HEADER */
.home-header{
    text-align: center;
    width: 90%;
    margin: auto;
}
.home-header-padre-img{
    margin: 15px auto 30px;
    width: 180px;
}
.home-header-padre-img img{
    border: solid 2px var(--colorGris);
    border-radius: 50%;
    width: 100%;
}
.home-header-a{
    background-color: var(--colorGris);
    width: 50px;
    height: 50px;
    margin: 0 auto 30px;
    display: inline-block;
    font-size: 2.1rem;
    border-radius: 5px;
}
.home-header-a i{
    font-size: 25px;
}
.home-header-nav-menu ul li{
    background-color: var(--colorGris);
    width: 100%;
    margin-bottom: 2px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 5px;
}
.home-header-nav-menu ul li:last-child{
    margin-bottom: 0;
}

/* MAIN */
img{
    max-width: 100%;
}
.home-main{
    width: 90%;
    margin: auto;
}
.home-main-section-banner{
    margin: 20px 0px;
}
.home-main-section-product{
    margin: 30px 0px;
}
.home-main-section-product-box{
    position: relative;
}
.home-main-img-product{
    width: 100%;
}
.home-main-img-sticker{
    position: absolute;
    top: 0;
    right: 0;
}
.home-main-section-product-box a{
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-weight: 500;
    padding: 10px 0px;
} 
.home-main-section-product-title{
    font-size: 1.2rem;
    margin: 30px 0px;
}
.home-main-section-product p{
    margin: 30px 0px;
}
.home-main-section-product-button{
    background-color: var(--colorGris);
    padding: 10px;
}


/* FOOTER */
.home-footer{
    width: 90%;
    margin:auto;
}
.home-footer-nav-menu ul li{
    background-color: var(--colorRojo);
    width: 100%;
    margin-bottom: 2px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}
.home-footer-nav-menu ul li:last-child{
    margin-bottom: 0;
}
/* TABLET */
@media (min-width:768px) {

    /* HEADER */

    .home-header-a {
        display: none;
    }

    .home-header-nav-menu ul li {
        width: 15%;
        margin-bottom: 20px;
        font-size: 0.9rem;
        float: left;
        margin-right: 2%;
    }
    
    .home-header-nav-menu ul li:last-child {
        margin-right: 0;
    }

    /* MAIN */
    .home-main-section-banner{
        display: block;
    }

    .home-main-section-banner img{
        width: 100%;
    }
    .home-main-section-products {
        overflow: hidden;
    }

    .home-main-section-product {
        width: 49%;
        float: left;
        margin-right: 2%;
    }

    .home-main-section-product:nth-child(even){
        margin-right: 0;
    }

}
/* DESKTOP */
@media (min-width:1024px) {

    /* HEADER */

    .home-header-nav-menu ul li {
        font-size: 1rem;
        height: 50px;
        padding: 15px;
    }

    /* MAIN */
    .home-main-section-product {
        width: 32%;
    }

    .home-main-section-product:nth-child(even){
        margin-right: 2%;
    }

    .home-main-section-product:nth-child(3n){
        margin-right: 0;
    }

    /* FOOTER */
    .home-footer{
        background-color: var(--colorRojo);
        text-align: center;
        padding: 60px 0;
        border-radius: 30px 30px 0 0;

    }

    .home-footer-nav-menu ul li {
        display: inline;
        margin-bottom: 0;
        text-transform:capitalize;
        padding: 0 10px;
        border-right: solid 1px #ffff;
    }

    .home-footer-nav-menu ul li:last-child{
        border-right: none;
    }

}